I want to set a close code of 1008 but that's not allowed

My Websocket connection checks the cookie in the incoming connection.handshake.header and if it's not valid I with to close the connection and return a status code of `1008`, as defined in [section 7.4 of RFC6455](http://tools.ietf.org/html/rfc6455#section-7.4)

> 1008 indicates that an endpoint is terminating the connection
> because it has received a message that violates its policy.  This
> is a generic status code that can be returned when there is no
> other more suitable status code (e.g., 1003 or 1009) or if there
> is a need to hide specific details about the policy.

However the `acceptable_close_code?` method in [connection.rb](/igrigorik/em-websocket/blob/master/lib/em-websocket/connection.rb) makes it clear i am only allowed to use the code `1000` (meaning closed ok) or `3000..4999` which are custom codes.

It seems unreasonable to restrict this range when `1008` seems like a perfectly valid response.
